@media (min-width: 1100px) {
  #list > div > div:nth-child(2) {
    transform: translateY(6rem);
  }

  #list_title {
    margin-top: 0;
    transform: translateY(4rem);
  }
}

@media (min-width: 1550px) {
  #list > div > div:nth-child(2),
  #list > div > div:nth-child(3) {
    transform: translateY(6rem);
  }
}
@media (min-width: 1850px) {
  #list > div > div:nth-child(2),
  #list > div > div:nth-child(3),
  #list > div > div:nth-child(4) {
    transform: translateY(6rem);
  }
}

#list_title {
  margin-top: 4rem;
}
