@media (min-width: 1100px) {
  #list_title {
    transform: translateY(4rem);
  }
  #list > div > div:nth-child(2),
  #list > div > div:nth-child(3) {
    transform: translateY(6rem);
  }
  #list > div > div:nth-child(1),
  #list > div > div:nth-child(4) {
    transform: translateY(-9rem);
  }
  #page_indicator {
    margin-bottom: 0 !important;
  }
  #more_recipes_button {
    margin-top: 8rem;
  }
}
@media (min-width: 1550px) {
  #main_label {
    padding-top: 0;
  }
  #list > div > div:nth-child(2),
  #list > div > div:nth-child(4) {
    transform: translateY(3rem);
  }
  #list > div > div:nth-child(3) {
    transform: translateY(12rem);
  }
  #list > div > div:nth-child(1),
  #list > div > div:nth-child(5) {
    transform: translateY(-9rem);
  }
  #more_recipes_button {
    margin-top: 16rem;
  }
}

#page_indicator {
  margin-bottom: 4rem;
}
#main_label {
  padding-top: 4rem;
}

#list_title {
  font-size: 2rem;
  margin-bottom: 4rem;
}

@media screen and (max-width: 768px) {
  #list_title {
    font-size: 1.25rem;
  }
}
