svg#loader {
  width: 200px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  animation: rotation 3.5s infinite ease-in-out;
  animation-fill-mode: forwards;
  transform-origin: bottom;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg) scale(0.5);
  }
  100% {
    transform: rotate(720deg) scale(0.5);
  }
}

.back-legs-front {
  fill: #c8bfae;
}
.back-legs-back {
  fill: #c8bfae;
}
.legs-front {
  fill: #f5e9d4;
}

.body {
  fill: #f5e9d4;
}
.tail {
  fill: #f5e9d4;
}
.head {
  fill: #f5e9d4;
}

.ear {
  fill: #e8c9b0;
}

.mouth {
  fill: #e5856f;
}
