#instruction::after {
  content: '';
  display: inline-block;
  width: 2px;
  background-color: #2821fc;
  position: absolute;
  left: 1.25rem;
  top: 10px;
  height: calc(100% - 2rem);
}

#recipe_read img {
  max-width: 100%;
}
